<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link href="/views/dashboard/dashboard.css" rel="stylesheet">
    <title>BetterChess</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section>
      {% for i in range(0,20) %}
      <div class="row">
        <div>
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight"class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
        </div>       
        <div>
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
        </div>
      </div>
      {% endfor %}
      
      <div id="startPageAnimation">
        <div id="top" class="topIntroAnimation"></div>
        <div id="middle" class="middleIntroAnimation"></div>
        <div id="bottom" class="bottomIntroAnimation"></div>
      </div>

      <div id="dashBackground">
      </div>

      <div>
        <img id="logoIcon" src="/views/images/remove.png" alt="exitImage">
      </div>

      <div>
        <img id="logoImg" src="/views/images/chessLogo.png" height="34" width="78.5" alt="ChessTitle">
      </div>

      <div id="currentGames" style="background-color: #bbb;">
        <br>
        <h1>{{ player.player_name }}</h1>
        <h2>Current Games:</h2>
          {% for board in boards %}
          <div id="matches"> 
            <p>{{ board.board_id }}) vs {{ board.player2_name }} </p> 
            <form action="/boards/{{ board.board_id }}" method="GET">
              <input type="submit" value="Resume">
            </form>
            <form action="/boards/{{ board.board_id }}/quit" method="POST">
              <input type="submit" value="Quit">
            </form>
          </div>
          {% endfor %}
      </div>

      <div id="playerCard" style="background-color: #bbb;">
        <img id="profileImage" src="/views/images/userPfp.jpg" alt="profilePicture">
        <br><br><br><br><br>
        <h1>Wins</h1>
        <br>
        <label id="wins">{{ player_stats.wins }}</label>
        <br><br>
        <h1>Loses</h1>
        <br>
        <label id="loses">{{ player_stats.losses }}</label>
      </div>
      
      // this needs to be a post request to create a board
      <div id="newGameButton">
        <br><br>
        <img id="newGameIcon" src="/views/images/pawnDesignDash1.png" alt="newGameIcon">
        <br><br>
        <h1>New Game</h1>
        <form action="/boards" method="POST">
          <input type="hidden" name="player_id" value="{{ player.player_id }}">
          <input type="hidden" name="opponent_id" value="{{ opponent.player_id }}">
          <input id="newGameBack" type="submit" value="Play Computer">
        </form>
      </div>

      <div>
        <form action="/" method="GET">
          <input id="exit" type="submit" value="Logout">
        </form>
      </div>

    </section>
    <script nonce="b64value" src="/views/dashboard/dashboard.js"></script>
  </body>
</html>