{% extends 'layout.html' %}
{% block content %}
<div>
    <h1>ChessDB</h1>

    <form action="/players" method="POST">
        <label>Enter Username:</label>
        <input type="text" placeholder="username" id="player_name" name="player_name" required>
        <button type="submit">Enter Player</button>
    </form>

    <p>{{ err.message }}</p>

    <ul>
        {% for player in players %}
        <li>
            {{ player.player_id }}) {{ player.player_name }}
            <form action="/players/{{ player.player_id }}?_method=PUT" method="post">
                <input type="text" name="player_name" value="{{ player.player_name }}">
                <input type="submit" value="Edit">
            </form>
            <form action="/players/{{ player.player_id }}?_method=DELETE" method="post">
                <input type="submit" value="Delete">
            </form>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}