<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link href="/views/start/start.css" rel="stylesheet">
    <title>BetterChess</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <section>
      {% for i in range(0,20) %}
      <div class="row">
        <div>
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight"class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
        </div>       
        <div>
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
          <img src="/views/images/pawn.png" alt="pawn" class="piecies">
          <img src="/views/images/knight.png" alt="knight" class="piecies">
          <img src="/views/images/bishop.png" alt="bishop" class="piecies">
          <img src="/views/images/rook.png" alt="rook" class="piecies">
          <img src="/views/images/queen.png" alt="queen" class="piecies">
        </div>
      </div>
      {% endfor %}

      <div class="logo">
        <img id="logoTransition" src="/views/images/chess.png" alt="LogoImage" class="logoImg">
        <br>
        <img id="continueImg" src="/views/images/click.png" alt="ClicktoBegin" class="clickImg">
      </div>

      <div class="GameName">
        <img id="chessTitle" src="/views/images/chessLogo.png" height="34" width="78.5" alt="ChessTitle">
      </div>

      <div id="loginBack"></div>

      <div id="profile">
        <img id="profilePicture" src="/views/images/userPfp.jpg"/>
        <br><br>
        <form action="/players" method="POST">
          <input type="text" id="player_name" name="player_name" placeholder="Enter Your Name to Play" autocomplete="off">
          <!--<label class="profileInput">Username</label>-->
          <!-- Online login button found -->
          <br><br>
          <label id="noUserFound"> - No User Found - </label>
          <br><br>
          <div id="login"><span><input id="loginButton" type="submit"></span></div>
        </form>
        
        
      </div>

      <!-- Custom fade animation circle, didnt work, so collapse from sides -->
      <div id="playerTransition" ></div>

      <div id="userCreationButton">
        <label>New User?</label>
      </div>

      <div id="accountCreation">
        <img src="/views/images/continueIcon.png" height="45" width="151" alt="cont.">
      </div>

      <div id="accountCreationInputs">
        <label class="accountCreationInputsLabel">Username</label>
        <input type="text" id="newUsername" placeholder="i.e. TheLegend27" autocomplete="off">
        <label class="accountCreationInputsLabel">Password</label>
        <input type="text" id="newPassword" placeholder="i.e. 123password" autocomplete="off">
        <label class="accountCreationInputsLabel">Email</label>
        <input type="text" id="newEmail" placeholder="i.e. TheLegend27@gmail.com" autocomplete="off">
        <br><br>
        <label id="userExists"> - Username already taken - </label>
      </div>

      <div id="startPageAnimation">
        <div id="top"></div>
        <div id="middle"></div>
        <div id="bottom"></div>
      </div>

    </section>
    <script nonce="b64value" src="/views/start/start.js"></script>
  </body>
</html>