/* styles.css */

*
{
    margin: 0;
    padding: 0;
	font-family: Arial;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #89CFF0;
    
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;

}

section .row
{
    position: relative;
    top: -40%;
    left: -10%;
    width: 100%;
    padding: 10px 0;
    transform: rotate(-30deg);
    white-space: nowrap;
}

.piecies
{   
    width: 40px;
    height: 40px;
    transition: 1s;
    filter: brightness(0) invert(.9);
    padding: 6px 3px;
    user-select: none;
    cursor: default;
}

.piecies:hover
{
    transition:  0s;
    filter: brightness(0) invert(1);
}

section .row div
{
    animation:  animate 16s linear infinite;
    animation-iteration-count: infinite;
    animation-delay: -16s;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes animate {
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-15%);
    }
}
/*body {
	width: 100%;
	font-family: Arial;
	pointer-events: none; 
	background: linear-gradient(#B0A7A2, #CAEEF5);
	
}*/

img[src="/views/board/piece_images/.png"] {
	display: none;
}

a {
	color: black;
	padding-right: 40px;
	padding-left: 40px;
	text-decoration: none;
	position: relative;
	top: 15px;
}

a:hover {
	color: black;
	padding: 15px;
	padding-right: 40px;
	padding-left: 40px;
	text-decoration: none;
	position: relative;
	top: 12px;
  	background: #9DECF9;
}

#header {
	padding-top: 30px;
	width: 100%;
	height: 50px;
	font-size: 20px;
  	text-align: center;
  	position: absolute;
	top: 3%;
    left: 50%;
    transform: translateX(-50%);
	z-index: 2000;
}

#boardBack{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

#dashBack{
	height: 50px;
	width: 100px;
	background-color: white;
	border-radius: 25px;
}

#matchTitle{
	position: absolute;
	top: 110%;
    left: 50%;
    transform: translateX(-50%);
	z-index: 1000;
}

#container {
  	display: flex;
  	flex-wrap: nowrap;
}
table {
  	border: 2px solid;
  	background: burlywood;
  	padding: 20px;
	padding-top: 20px;
	scale: .75;
	border-radius: 25px;
}

table {
	width: 600px;
	height: 600px;
	/*margin: auto;*/
}

th {
	height: 30px;
	width: 30px;
	font-size: 25px;
}

td {
	height: 11%;
	width: 11%;
	text-align: center;
}

td:active {
	border: 3px solid;
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
  	background: white;
}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
  	background: #6D6F71;
}

#pieces {
	height: 450px;
	width: 15%;
	background: #CAEEF5;
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid;
	border-radius: 10px;
}

h2 {
	color: #000000;
	font-size: 18px;
}

button {
	font-size: 30px;
	border-radius: 5px;
	background: #9DECF9;
	padding: 10px;
	border: 2px solid;
}

/*Jason Added*/
button:hover {
	background: black;
	border: 2px solid #9DECF9;
	color: #9DECF9;
}

#onLoad
{
	position: absolute;
	top: 25%;
	left: 35%;
	scale: 300;
	animation: onLoadTransition ease-out 1s;
    animation-fill-mode: forwards;
}

#logoImg
{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1001;
}

#logoIcon
{
    position: absolute;
    top: 2%;
    right: 2%;
    height: 44px;
    width: 44px;
    z-index: 1002;
}

/* Anthony */
button.square {
	background-color: rgba(255,255,255,0);
}

@keyframes onLoadTransition
{
	0%{
        scale: 300;
    }
    50% {
        scale: 10;
	}
	100%{
		scale: 0;
	}
}

#exit
{
    position: absolute;
    opacity: 0;
    top: 2%;
    right: 2%;
    height: 44px;
    width: 44px;
    border-radius: 0px;
    background-color: whitesmoke;
    text-align: center;
    z-index: 2000;
    
}

#playerName{
	visibility: hidden;
}

#resultScreen{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42.5%);
	height: 450px;
	width: 450px;
    z-index: 1001;
	border-radius: 25px;
	text-align: center;
	background-color: wheat;
	scale: 0;
}

#resultText
{
	position: relative;
	padding-top: 50%;
	font-size: 5rem;
}

.resultAnimation{
	animation: popup 1.5s forwards;
}

@keyframes popup {
	0%{
		scale: 0;
	}
	100%{
		scale: 1;
	}
}